@charset "UTF-8";
/*============
.header
=============*/
.header {
  top: 0;
  left: 0;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  max-width: 1366px;
  /*============
.header-top index.html用のheader
=============*/
  /*============
.hamburger__menu
=============*/
  /*============
.toggle__btn
=============*/
  /*============
#mask
=============*/
}

.header .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #000;
  height: 70px;
  width: 100%;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 350px;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.header__left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 140px;
  margin-top: -1rem;
}

.header__left-top img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.header .header__logo {
  height: 70px;
}

.header .header__logo img {
  width: 5rem;
  margin-top: 0.3rem;
}

.header__sub-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.header__title {
  font-size: 2.5rem;
  margin-top: -1rem;
}

.header__title-container {
  padding-left: 1rem;
}

.header__catch-copy {
  font-size: 1rem;
}

@media screen and (min-width: 1030px) {
  .header .responsive__nav {
    display: none;
  }
}

.header .hamburger__menu {
  display: block;
  position: fixed;
  top: 0;
  left: -30rem;
  bottom: 0;
  width: 30rem;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}

.header .open .hamburger__menu {
  left: 0;
  opacity: 1;
}

.header .hamburger__menu .inner {
  padding: 2.2rem;
}

.header .hamburger__menu .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .hamburger__menu .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 0.1rem solid #333;
}

.header .hamburger__menu .inner ul li a {
  display: block;
  color: #333;
  font-size: 1.6rem;
  padding: 1em;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header .hamburger__menu .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 1024px) {
  .header .hamburger__menu {
    left: -22rem;
    width: 22rem;
  }
  .header .header__nav ul li {
    display: none;
  }
}

.header .toggle__btn {
  display: block;
  position: fixed;
  top: 2rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}

.header .toggle__btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 3rem;
  height: 0.2rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .toggle__btn span:nth-child(1) {
  top: 0.4rem;
}

.header .toggle__btn span:nth-child(2) {
  top: 1.4rem;
}

.header .toggle__btn span:nth-child(3) {
  bottom: 0.4rem;
}

.header .open .toggle__btn span {
  background-color: #fff;
}

.header .open .toggle__btn span:nth-child(1) {
  -webkit-transform: translateY(1rem) rotate(-315deg);
  transform: translateY(1rem) rotate(-315deg);
}

.header .open .toggle__btn span:nth-child(2) {
  opacity: 0;
}

.header .open .toggle__btn span:nth-child(3) {
  -webkit-transform: translateY(-1rem) rotate(315deg);
  transform: translateY(-1rem) rotate(315deg);
}

@media screen and (min-width: 1030px) {
  .header .toggle__btn span {
    display: none;
  }
}

.header #mask {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

/*============
グローバルナビゲーション gnav
=============*/
.gnav {
  width: 100%;
  background: #000;
  background: #000;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .gnav {
    background: #000;
    display: none;
  }
}

.gnav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.gnav__list ul li {
  line-height: 7rem;
  font-size: 1.4rem;
  margin-right: 5rem;
}

@media screen and (max-width: 1200px) {
  .gnav__list ul li {
    font-size: 1.2rem;
    margin-right: 3rem;
  }
}

.gnav__list ul li a {
  color: #fff;
  text-decoration: none;
}

.gnav__join {
  background-color: #0a66ce;
  padding: 0 2rem 0 2rem;
  margin: 1.5rem 5rem 1.5rem 6rem;
  z-index: 5;
  height: 40px;
}

.gnav__join a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .gnav__join a {
    font-size: 1.2rem;
    vertical-align: -15%;
  }
}

.gnav__icon {
  font-size: 2.8rem;
  vertical-align: -10%;
}

@media screen and (max-width: 1024px) {
  .gnav__icon {
    font-size: 2rem;
  }
}

/*============
footer
=============*/
.footer {
  height: 100vh;
  max-height: 48rem;
}

@media screen and (min-width: 767px) {
  .footer {
    height: 100%;
  }
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .logo {
  margin: 4rem 0 2rem 0;
}

.footer .logo a img {
  width: 10rem;
}

.footer .btn {
  margin: 3.2rem;
}

@media screen and (min-width: 767px) {
  .footer .btn {
    margin: 2rem;
  }
}

.footer .btn__global:hover {
  color: #e4e4e4;
}

@media screen and (min-width: 767px) {
  .footer .btn__global {
    margin: 1rem;
  }
}

.footer .btn__twitter,
.footer .btn__youtube {
  font-size: 6rem;
  margin-bottom: 1.6rem;
}

.footer .sns__link {
  margin-bottom: 2rem;
}

.footer .footer__nav-1 {
  margin-bottom: 4rem;
}

@media screen and (min-width: 767px) {
  .footer .footer__nav-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
}

.footer .footer__nav-2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 767px) {
  .footer .footer__nav-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer__nav-2 li a {
  color: #a5a5a5;
}

.footer .copyright {
  margin-bottom: 4rem;
  font-size: 1rem;
  color: #a5a5a5;
}

.line + .line {
  border-left: 1px solid white;
}

/*# sourceMappingURL=common.css.map */


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: "メイリオ", "Meiryo", "ＭＳ ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  line-height: 2;
  font-weight: 500;
  color: #fff;
  background-color: #8c7676;
}

img {
  vertical-align: bottom;
}

.btn:hover {
  color: #0a66ce;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/*# sourceMappingURL=common.css.map */

