.faq h2 {
    width: 100%;
    height: 60px;
    font-size: 2em;
    text-align: center;
  }
  
  .faq-inner {
    margin: 0 auto 100px;
    padding: 20px 30px;
    background-color: #000
  }
  
  .faq-checkbox {
    display: none;
  }
  
  .faq-label {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    padding: 24px 36px 24px 24px;
    background-color: rgb(44, 44, 44);
    font-size: 16px;
    box-shadow: 0 10px 55px rgba(0,0,0,.05);
    position: relative;
  }
  
  .faq-label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    right: 16px;
    width: 18px;
    height: 18px;
  }
  
  .faq-checkbox:checked + .faq-label::after {
    background-size: contain;
  }
  
  .faq-accordion {
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
    margin-bottom: 20px;
  }
  
  .faq-checkbox:checked + .faq-label + .faq-accordion {
    max-height: 224px;
    visibility: visible;
  }
  
  .faq-answer {
    background-color: rgba(69, 69, 70, 0.8);
    padding: 30px 24px 30px 3em;
    color: #fff;
    font-size: 16px;
    text-indent: -1em;
  }
  
  @media screen and (min-width: 767px) {
    .faq-inner {
        padding: 60px 90px;
    }
  
    .faq-label {
        padding: 24px;
    }
  
    .faq-label::after {
        right: 24px;
        width: 25px;
        height: 25px;
    }
  
    .faq-checkbox:checked + .faq-label + .faq-accordion {
        max-height: 120px;
    }
  }
  
  