.swiper-container {
  overflow: hidden;
}

.swiper-container .swiper-wrapper .swiper-slide {
  overflow: hidden;
}

.swiper-container .swiper-wrapper .swiper-slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.mb-lr, #content .news, #content .aboutHaseblo {
  margin-bottom: 40px;
}

#content {
  width: 90%;
  height: 100%;
  max-width: 1376px;
  text-align: center;
  margin: 5% auto;
}

#content .news {
  background-color: gray;
  font-size: 2rem;
}

#content .aboutHaseblo {
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-position: center;
}

#content .aboutHaseblo .logo {
  border-radius: 50%;
  background-color: white;
}

#content .aboutHaseblo .aboutHaseblo__title {
  position: relative;
  font-size: 3rem;
  z-index: 2;
}

#content .aboutHaseblo .aboutHaseblo__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #cc00ba;
  z-index: -1;
}

#content .aboutHaseblo .aboutHaseblo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .aboutHaseblo .aboutHaseblo__container .aboutHaseblo__item > img {
  width: 200px;
  background-color: #1167ce;
  border-radius: 50%;
}

#content .aboutHaseblo .concept__btn {
  background-color: transparent;
  border: solid #1167ce 2px;
  padding: 2px 5px;
}

#content .activity .activity__title {
  position: relative;
  font-size: 3rem;
  z-index: 2;
}

#content .activity .activity__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: magenta;
  z-index: -1;
}

#content .activity .background__inner {
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-position: center;
}

#content .activity .background__inner .activity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#content .activity .background__inner .activity__container .activity__btn {
  width: 180px;
  margin: 30px auto;
  font-size: 2.5rem;
  background-color: transparent;
  border: solid 1px white;
}

#content .activity .background__inner .activity__container .activity__btn a {
  color: white;
}

@media (min-width: 767px) {
  #content .aboutHaseblo .aboutHaseblo__container {
    max-width: 800px;
    margin: 50px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #content .activity .background__inner .activity__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 767px;
    margin: auto;
  }
  #content .activity .background__inner .activity__container .activity__btn {
    width: 280px;
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */