body {
    background-color: black;
}

// 背景
.bg__img {
    background-image: url(images/bg-image.png);
    background-repeat: repeat-y;
    position: relative;
    background-attachment: fixed;
    z-index: -2;

    // 背景をぼかすために疑似要素を絶対配置
    &::before {
        content: '';
        background-color: rgba($color: #000000, $alpha: 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    // メインタイトル
    .main__title {
        background-color: black;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        margin-top: 50px;
    }

    // インナー
    .bg__inner {
        max-width: 1366px;
        margin: 0 auto;
        
        
        // メンバー紹介
        .members__container {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            margin: 5%;
            
    
            .members__item {
                flex-basis: calc(50% - 20px);
                margin-bottom: 40px;
                
                // 画像を正方形にする
                .img__inner {
                    padding-top: 100%;
                    position: relative;
    
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// 767px以上のメディアクエリ
@media (min-width: 767px) {
    .bg__img {
        .bg__inner{
            // メンバー紹介
            .members__container {
                .members__item {
                    flex-basis: calc(25% - 40px);
                }
            }
        }
    }
}


